.profiles img{
	width:100%;
}
/* navbar */
.navbar-default {
    background-color: #4a148c;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: rgba(255,255,255,.6);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: rgba(255,255,255,1);
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,.6);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgba(255,255,255,1);
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: rgba(255,255,255,1);
    background-color: #aa00ff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #6a1b9a;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    color: rgba(255,255,25);
    background-color: #6a1b9a;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}